body {
  background-color: #ececec;
}

.navbar{
  background-color: rgb(255, 153, 0);
  height: 5%;
}


.navbar-brand{
  color: rgb(255, 245, 102);
}

.pos-main-cont{
  margin-top: 100px;
}

.flex-container{
  display: flex;
}

.butdisp{
  display: flex;
  margin: auto;
  text-align: center;  
}

.row{
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  height: auto;  
  top: 60%;
}

.ctr{
  top: 60%;
  left: 15%;
}
