body{
  font-family: Arial, Helvetica, sans-serif;
  background: #fbfbfb !important;
  width: 100%;
  margin: auto;
}

.clock {
  font-size: 1.8em;
  text-align:  right;
  padding: 8px 16px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a.clock{
  float: right;
}


h3 .text-center{
  font-family: Helvetica, sans-serif;
}

.butdisp{
  display: flex;
  margin: auto;
  text-align: center;  

}

.row{
  margin-top: 10%;
  margin-bottom: 10%;
}

.weather{
  margin-top: 20%;
  margin-bottom: 10%;
}

.vertical-center {
  margin: 0;
  height: auto;  
  top: 60%;
  max-width: fit-content !important;
}

.ctr{
  top: 60%;
  left: 15%;
}
