
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- .......................START MOTOR TEST--------------------------------->
     <button id ='motorButton' type ='Button'>ON/OFF</button>
         
    <p id ='motor_status'>ON</p>
    


    <script>
       $('#motorButton').click(function() { 
            $.ajax({
                url: "{% url 'motor_update' %}",
                success: function (response) {
                    $('#motor_status').text(response['motor_status']);
                  }
            });
         });
    </script>
    <!-- .......................END MOTOR TEST--------------------------------->

    <!---------------------------------------START SENSOR VALUES TEST------------------------------------------->
    <p id = 'air_humidity'> air_humidity value </p>
    <p id = 'soil_humidity'> soil_humidity value </p>
    <p id = 'air_temperature'> air_temperature value </p>
 

        
    <script>
        function updateSensors(){
            $.ajax ({
                url: "{% url 'update_sensors' %}",
                success: function(response){
                value1 = JSON.parse(response['air_humidity']);
                value2 = JSON.parse(response['soil_humidity']);
                value3 = JSON.parse(response['air_temperature']);
                $('#air_humidity').text(value1);
                $('#soil_humidity').text(value2);
                $('#air_temperature').text(value3);
                }
            });
            setTimeout(updateSensors, 1000)
        }

        $(document).ready(function() {
        // run the first time; all subsequent calls will take care of themselves
        setTimeout(updateSensors, 1000);
    });
    </script>

     <!----------------------------------------END SENSOR VALUES TEST------------------------------------------->


</body>
</html>
